################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SftpBackgroundExercise/.vs
/SftpBackgroundExercise/SftpBackgroundExercise/bin/Debug/net6.0
/SftpBackgroundExercise/SftpBackgroundExercise/obj
